<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />

<div class="background-home">
    <div class="text-center" style="color: #F0F0F5;">
        <h1 class="display-4">Doceria</h1>
        <p>Transformando momentos em sabores irresistíveis.</p>
    </div>
</div>



